{
  "presets": ["react-native"],
  "plugins": [
      [
          "module-resolver",
          {
              "root": [
                  "./src"
              ],
              "alias": {
                  "actions": "./src/actions",
                  "api": "./src/api",
                  "assets": "./src/assets",
                  "images": "./src/assets/images",
                  "components": "./src/components",
                  "config": "./src/config",
                  "navigation": "./src/navigator",
                  "reducers": "./src/reducers",
                  "sagas": "./src/sagas",
                  "screens": "./src/screens",
                  "utils": "./src/utils",
                  "theme": "./src/theme",
                  "store": "./src/store"
              }
          }
      ]
  ]
}
